
<div class=" frm-cont1">
    <div class="row">
        <div class="col-md-12">     
          <h3 class="evgm-txt"><b>Payment and Agreement</b></h3>
        </div>
      </div>
    <div class="card">
        <div class="card-body">
   
  
  <div class="row">
      <div class="form-group  col-md-12">
       <div class="form-check form-check-inline  checkbox">
         <input class="form-check-input chx-box" type="radio" name="inline-radios" id="inlineRadio2" value="option2" checked="checked">
         <label class="form-check-label" for="inlineRadio2">With Vehicle</label>
       </div>
       <div class="form-check form-check-inline  checkbox-1">
         <input class="form-check-input chx-box" type="radio" name="inline-radios" id="inlineRadio3" value="option3">
         <label class="form-check-label" for="inlineRadio3">Without Vehicle</label>
       </div>
       <div class="form-check form-check-inline  checkbox-2">
         <input class="form-check-input chx-box" type="radio" name="inline-radios" id="inlineRadio4" value="option4">
         <label class="form-check-label" for="inlineRadio4">Without Vehicle</label>
       </div>
       
   </div> 
   <div class="col-md-3">     
      <div class="form-group">
        <label for="name" class="ref-txt">Standard Terms</label>
        <input type="text" class="form-control rounded-0 border-info" id="name" placeholder="">
      </div>       
    </div>
    <div class="col-md-3">     
    <div class="recent-transactions">
      <div class="form-group">
        <label for="name" class="ref-txt">Add Terms</label>
        <input type="text" class="form-control rounded-0 border-info" id="name" placeholder="">
      </div>       
    </div>
</div>
    
   
     <div class="col-md-3">     
      <div class="form-group mt-4">
        <button type="button" class="btn btn-primary" value="Add">Add</button>
        <button type="button" class="btn btn-secondary" value="clear">Clear</button>
     </div>
  </div>
  </div>

 
  <div class="row">
  <div class="col-md-3">     
    <div class="recent-transactions">
      <div class="form-group">
        <label for="name" class="ref-txt">Payment Type</label><br>
        <select id="payments" name="payments" class="form-control">
          <option value="select">--Select--</option>
          <option value="cash on delivery">Cash On Delivery</option>
          <option value="cheque" selected>Cheque</option>
        </select>
      </div>       
    </div>
    </div>
    <div class="col-md-3">     
    <div class="recent-transactions">
      <div class="form-group">
        <label for="name" class="ref-txt">Reciept No</label>
        <input type="text" class="form-control rounded-0 border-info" id="name" placeholder="">
      </div>       
    </div>
    </div>
    <div class="col-md-3">     
    <div class="recent-transactions">
      <div class="form-group">
        <label for="name" class="ref-txt">DSC/e-Signing</label>
        <input type="text" class="form-control rounded-0 border-info" id="name" placeholder="">
      </div>       
    </div>
   
  
  </div>
  
  </div>
</div>
</div>
<div class="card">
    <div class="card-body">
  <div class="row">
    <div class="col-md-12">
      <h3 class="contnr-txt"><b>If Cash/Out of System</b></h3>
      <div class="brd"></div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="name" class="ref-txt"> Date</label>
        <input type="date" class="form-control rounded-0 border-info" id="name" placeholder="">
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="form-group">
        <label for="name" class="ref-txt">Title</label>
        <input type="text" class="form-control rounded-0 border-info" id="name" placeholder="">
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="form-group">
        <label for="name" class="ref-txt">Upload File</label>
       
        <input type="file" id="myFile" name="filename" class="form-control rounded-0 border-info myFiles ">
      </div>
    </div>
    <div class="col-md-12">
    <div class="form-group">
      <div class="text-center">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary">Add To Cart</button>
        <button type="button"  class="btn btn-secondary">PayNow</button>
      </div>
     </div>
    
     </div>
   </div>
</div>
</div>

 
  </div>
  
  
  