<div class="frm-cont1">

    <div class="row">
      <div class="col-md-12">
        <h3 class="makpay-txt"><b>Recent Transactions</b></h3>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
   <div class="row">
    <div class="col-md-3">     
      <div class="form-group">
        <label for="name" class="ref-txt">Activity</label>
        <input type="text" class="form-control rounded-0 border-info" id="name" placeholder="">
      </div>
      </div>
      <div class="col-md-3">     
      <div class="form-group">
        <label for="name" class="ref-txt">From Date</label>
        <input type="date" class="form-control" id="name" placeholder="">
      </div>
      </div>
      <div class="col-md-3">     
      <div class="form-group">
        <label for="name" class="ref-txt"> To Date</label>
        <input type="date" class="form-control" id="name" placeholder="">
      </div>
      </div>
      <div class="col-md-3">     
        <div class="form-group mt-4">
            <button type="button" class="btn btn-primary" value="Add">Add</button>
            <button type="button" class="btn btn-secondary" value="clear">Clear</button>
        </div>
       </div>
 
  
    </div>
</div>
  
    
  
  </div>
  
  <div class="card">
    <div class="card-body">
  <div class="row">

      <div class="col-md-12">
        <h3 class="contnr-txt"><b>Most Recent Transactions</b></h3>
      </div>
      <div class="table-responsive">
      <table class="table table-border table-hover">
        <thead>
          <tr>
            <th scope="col">Activity Name</th>
            <th scope="col">Request Recieved</th>
            <th scope="col">Responded On</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>258963245</td>
            <td>15-Jun-2021</td>
            <td>₹ 15,000</td>
            <td> </td>
            <td> </td>
          </tr>
          <tr>
            <td>258963245</td>
            <td>15-Jun-2021</td>
            <td>₹ 15,000</td>
            <td> </td>
            <td> </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
    </div>
  </div>
  </div>
  

