<div class=" frm-cont1">
    <div class="row">
        <div class="col-md-12">
            <h3 class="evgm-txt"><b>Weightment Proceed</b></h3>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group ">
                    <label for="name" class="ref-txt">Quotation No</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">  <label for="name" class="ref-txt"></label></div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">
                    <label for="name" class="ref-txt">Request Date</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">  <label for="name" class="ref-txt"></label></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group ">
                    <label for="name" class="ref-txt">Service Provider</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">  <label for="name" class="ref-txt"></label></div>
                </div>
                </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="contnr-txt"><b>General Details</b></h3>
                    <div class="brd"></div>
                </div>
                <div class="col-md-3">
                    <label for="name" class="ref-txt">Stuff Type</label>
                    <div class="form-group ">

                        <div class="form-check form-check-inline  checkbox">
                            <input class="form-check-input chx-box" type="radio" name="inline-radios" id="inlineRadio2"
                                value="option2" checked="checked">
                            <label class="form-check-label" for="inlineRadio2">With Vehicle</label>
                        </div>
                        <div class="form-check form-check-inline  checkbox-1">
                            <input class="form-check-input chx-box" type="radio" name="inline-radios" id="inlineRadio3"
                                value="option3">
                            <label class="form-check-label" for="inlineRadio3">Without Vehicle</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Weighment</label>
                        <input type="text" class="form-control" id="name" placeholder="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="name" class="ref-txt">Type</label>
                    <div class="form-group ">

                        <div class="form-check form-check-inline  checkbox">
                            <input class="form-check-input chx-box" type="radio" name="inline-radios" id="inlineRadio2"
                                value="option2" checked="checked">
                            <label class="form-check-label" for="inlineRadio2">Containerised</label>
                        </div>
                        <div class="form-check form-check-inline  checkbox-1">
                            <input class="form-check-input chx-box" type="radio" name="inline-radios" id="inlineRadio3"
                                value="option3">
                            <label class="form-check-label" for="inlineRadio3">Non Containerised</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="name" class="ref-txt">Container Status</label>
                    <div class="form-group ">

                        <div class="form-check form-check-inline  checkbox">
                            <input class="form-check-input chx-box" type="radio" name="inline-radios" id="inlineRadio2"
                                value="option2" checked="checked">
                            <label class="form-check-label" for="inlineRadio2">Loaded</label>
                        </div>
                        <div class="form-check form-check-inline  checkbox-1">
                            <input class="form-check-input chx-box" type="radio" name="inline-radios" id="inlineRadio3"
                                value="option3">
                            <label class="form-check-label" for="inlineRadio3">Empty</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="name" class="ref-txt">Weighment Type</label>
                    <div class="form-group ">

                        <div class="form-check form-check-inline  checkbox">
                            <input class="form-check-input chx-box" type="radio" name="inline-radios" id="inlineRadio2"
                                value="option2" checked="checked">
                            <label class="form-check-label" for="inlineRadio2">With Vehicle</label>
                        </div>
                        <div class="form-check form-check-inline  checkbox-1">
                            <input class="form-check-input chx-box" type="radio" name="inline-radios" id="inlineRadio3"
                                value="option3">
                            <label class="form-check-label" for="inlineRadio3">Without Vehicle</label>
                        </div>
                    </div>
                </div>



            </div>



        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="contnr-txt"><b>Cargo Details</b></h3>
                    <div class="brd"></div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt"> Cargo Type</label>
                        <input type="text" class="form-control" id="name" placeholder="">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Commodity</label>
                        <input type="text" class="form-control " id="name" placeholder="">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Quantity</label>

                        <input type="text" id="myFile" name="filename" class="form-control ">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Unit of measure</label>

                        <input type="text" id="myFile" name="filename" class="form-control ">
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt"> Shipper Name</label>
                        <input type="text" class="form-control" id="name" placeholder="">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Shipper Mobile Number</label>
                        <input type="text" class="form-control " id="name" placeholder="">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Port/Terminal</label>

                        <input type="text" name="filename" class="form-control ">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Shipping Line</label>

                        <input type="text" name="filename" class="form-control ">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Remark</label>

                        <input type="text" name="filename" class="form-control ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="contnr-txt"><b>Container Details</b></h3>
                    <div class="brd"></div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt"> No of 40' Containers</label>
                        <input type="text" class="form-control" id="name" placeholder="">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">No of 20' Containers</label>
                        <input type="text" class="form-control " id="name" placeholder="">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Total Containers</label>

                        <input type="text" id="myFile" name="filename" class="form-control ">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Container Number</label>

                        <input type="text" class="form-control ">
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt"> ISO Code</label>
                        <input type="text" class="form-control" id="name" placeholder="">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Container Type </label>
                        <input type="text" class="form-control " id="name" placeholder="">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Tare Weight (KG)</label>

                        <input type="text" name="filename" class="form-control ">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Max Payload(KG)</label>

                        <input type="text" name="filename" class="form-control ">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Vehicle Number</label>

                        <input type="text" name="filename" class="form-control ">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="ref-txt">Vehicle Tare Weight (KG)</label>

                        <input type="text" name="filename" class="form-control ">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group mt-4">
                        <button type="button" value="Add" class="btn btn-primary">Add</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                      <div class="text-center">
                        <button type="button" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary">Cear</button>
                        <button type="button" class="btn btn-secondary" routerLink="/evgm/search-weightment-request">Back</button>
                      </div>
                     </div>
                    
                     </div>
            </div>
        </div>
    </div>

</div>