<div>
    <div class="container">
        <h1 class="hd1">PGA Registration</h1>    
    </div>
    <div class="mt-5 mb-3 p-4 card">
        <!-- <div class="d-flex justify-content-end">         
          <div>
            <div *ngIf="!arrowShow" class="align-center" (click)="isCollapsed = !isCollapsed"><img class="pointer" src="assets/img/avatars/arrow5-up.png"></div>
            <div *ngIf="arrowShow" class="align-center" (click)="isCollapsed = !isCollapsed"><img class="pointer" src="assets/img/avatars/arrow5.png"></div>        
          </div>      
        </div> -->
        <!-- <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed"> -->
        <div>      
            <div class="row">
              <div class="col-md-12">
                <form>
                  <div class="row py-3 my-3">
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                        <label for="Stakeholder">Stakeholder Category</label>
                        <select id="select1" name="select1" class="form-control">
                          <option value="0">Select Stakeholder Category</option>
                          <option value="1">PGA</option>                         
                        </select>
                      </div>
                      <div class="form-group col-sm-6 col-md-4 col-lg-4">
                        <label for="Organisation">Type of Organisation</label>
                        <select id="select1" name="select1" class="form-control">
                          <option value="0">Select</option>
                          <option value="1">Head Quarter Office</option>                         
                        </select>
                      </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="PGA">PGA Code</label>
                      <input type="text" class="form-control" id="PGA">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="Organisation">Name of Organisation *</label>
                      <input type="text" class="form-control" id="Organisation">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="OWebsite">Organisation Website</label>
                      <input type="text" class="form-control" id="OWebsite">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="Email">Official Email Id</label>
                      <input type="text" class="form-control" id="Email">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="Official">Official Mobile Number</label>
                      <input type="text" class="form-control" id="Official">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-">
                      <label for="Contact">Contact Person</label>
                      <input type="text" class="form-control" id="Contact">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                        <label for="Preferred">Preferred Username </label>
                        <input type="text" class="form-control" id="Preferred">
                      </div>
                      <div class="form-group col-sm-6 col-md-4 col-lg-">
                        <label for="Icegate">Icegate User ID</label>
                        <input type="text" class="form-control" id="Icegate">
                      </div>
                  </div>
                </form>
              </div>
            </div>       
        </div>
        <!-- </div> -->
    </div>
    <div class="mt-5 mb-3 p-4 card">
        <!-- <div class="d-flex justify-content-between">
            <div>
              <h2 class="hd2">Document Uploads</h2>
              <div class="hd2underline"></div>
            </div>      
            <div>
              <div *ngIf="!docShow" class="align-center" (click)="isCollapsed = !isCollapsed"><img class="pointer" src="assets/img/avatars/arrow5-up.png"></div>
              <div *ngIf="docShow" class="align-center" (click)="isCollapsed = !isCollapsed"><img class="pointer" src="assets/img/avatars/arrow5.png"></div>        
            </div>      
          </div> -->
        <!-- <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed"> -->
        <div>      
            <div class="row">
              <div class="col-md-12">
                <form>
                  <div class="row py-3 my-3">                    
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="PAN">PAN</label>                     
                      <input class="form-control" type="file" id="PAN" name="myfile">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="GST">GST</label>
                      <input class="form-control" type="file" id="PAN" name="myfile">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="Aadhar">Aadhar</label>
                      <input class="form-control" type="file" id="PAN" name="myfile">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="Licence">Licence</label>
                      <input class="form-control" type="file" id="PAN" name="myfile">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-4">
                      <label for="Others">Others</label>
                      <input class="form-control" type="file" id="PAN" name="myfile" >
                    </div>
                  </div>
                  <div class="text-center m-2 float-center-ds">                   
                    <button type="button" class="btn btn-primary ">Save As Draft</button>
                    <button type="button" class="btn btn-primary ">Submit</button>
                    <button type="button" class="btn btn-secondary">Cancel</button>
                  </div>
                </form>
              </div>
            </div>       
        </div>
        <!-- </div> -->
    </div>
</div>
