<div class="frm-cont1">
<div class="card">
    <div class="card-body">
       <div class="row ">
          <div class="form-group col-md-3">
             <label for="inputCity">Form Date of Application</label>
             <input type="date" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-3">
             <label for="inputState">To Date of Application</label>
             <input type="date" class="form-control" id="inputCity" >
          </div>
          <div class="form-group col-md-3">
             <label for="inputState">Name of EPC/PGA</label>
             <select id="inputState" class="form-control">
                <option selected>Select EPC/PGA</option>
                <option>...</option>
             </select>
          </div>
          <div class="form-group col-md-3">
             <label for="inputState">Type of Application</label>
             <select id="inputState" class="form-control">
                <option selected></option>
                <option>...</option>
             </select>
          </div>
          <div class="form-group col-md-3">
             <label for="inputState">Status</label>
             <select id="inputState" class="form-control">
                <option selected></option>
                <option>...</option>
             </select>
          </div>
          <div class="form-group col-md-3">
              <div class="mt-4">
            <button class="btn btn-primary">Search </button>
            <button class="btn btn-secondary">Clear </button>
              </div>
            </div>
       </div>
      
    </div>
  </div>
  <div class="card">
    <div class="card-body cardbody">
       <div class="row">
       <div class="col-md-12">
           <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                   <tr class="trheader">
                      <th scope="col " class="tdheader">Sr.no </th>
                      <th scope="col " class="tdheader">Transaction ID</th>
                      <th scope="col " class="tdheader">Name of EPC/PGA</th>
                      <th scope="col " class="tdheader">Name of Certificate</th>
                      <th scope="col " class="tdheader">Application Date</th>
                      <th scope="col " class="tdheader">Status</th>
                      <th scope="col " class="tdheader">Application of Approval/Rejection Date</th>
                      <th scope="col " class="tdheader">Remarks</th>
                      <th scope="col " class="tdheader">Action</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <th scope="row">1</th>
                      <td>201111310005</td>
                      <td>powerloom Dvelopment And Export Promotion Council</td>
                      <td>RCMC Registraion Membership Certificate</td>
                      <th scope="row">13/nov/2021</th>
                      <td>
                         <span class="badge badge-primary">Approved</span>
                      </td>
                      <td>13/11/2021</td>
                      <td></td>
                      <td>
                         <i class="fa fa-download" aria-hidden="true"></i>
                         <i class="fa fa-eye" aria-hidden="true"></i>
                      </td>
                   </tr>
                   <tr>
                      <th scope="row">2</th>
                      <td>201111310005</td>
                      <td>powerloom Dvelopment And Export Promotion Council</td>
                      <td>RCMC Registraion Membership Certificate</td>
                      <th scope="row">13/nov/2021</th>
                      <td>
                         <span class="badge badge-primary">Approved</span>
                      </td>
                      <td>13/11/2021</td>
                      <td></td>
                      <td>
                         <i class="fa fa-download" aria-hidden="true"></i>
                         <i class="fa fa-eye" aria-hidden="true"></i>
                      </td>
                   </tr>
                   <tr>
                      <th scope="row">3</th>
                      <td>201111310005</td>
                      <td>powerloom Dvelopment And Export Promotion Council</td>
                      <td>RCMC Registraion Membership Certificate</td>
                      <th scope="row">13/nov/2021</th>
                      <td>
                         <span class="badge badge-primary">Approved</span>
                      </td>
                      <td>13/11/2021</td>
                      <td></td>
                      <td>
                         <i class="fa fa-download" aria-hidden="true"></i>
                         <i class="fa fa-eye" aria-hidden="true"></i>
                      </td>
                   </tr>
                   <tr>
                      <th scope="row">4</th>
                      <td>201111310005</td>
                      <td>powerloom Dvelopment And Export Promotion Council</td>
                      <td>RCMC Registraion Membership Certificate</td>
                      <th scope="row">13/nov/2021</th>
                      <td>
                         <span class="badge badge-primary">Approved</span>
                      </td>
                      <td>13/11/2021</td>
                      <td></td>
                      <td>
                         <i class="fa fa-download" aria-hidden="true"></i>
                         <i class="fa fa-eye" aria-hidden="true"></i>
                      </td>
                   </tr>
                   <tr>
                      <th scope="row">5</th>
                      <td>201111310005</td>
                      <td>powerloom Dvelopment And Export Promotion Council</td>
                      <td>RCMC Registraion Membership Certificate</td>
                      <th scope="row">13/nov/2021</th>
                      <td>
                         <span class="badge badge-primary">Approved</span>
                      </td>
                      <td>13/11/2021</td>
                      <td></td>
                      <td>
                         <i class="fa fa-download" aria-hidden="true"></i>
                         <i class="fa fa-eye" aria-hidden="true"></i>
                      </td>
                   </tr>
                   <tr>
                      <th scope="row">6</th>
                      <td>201111310005</td>
                      <td>powerloom Dvelopment And Export Promotion Council</td>
                      <td>RCMC Registraion Membership Certificate</td>
                      <th scope="row">13/nov/2021</th>
                      <td>
                         <span class="badge badge-primary">Approved</span>
                      </td>
                      <td>13/11/2021</td>
                      <td></td>
                      <td>
                         <i class="fa fa-download" aria-hidden="true"></i>
                         <i class="fa fa-eye" aria-hidden="true"></i>
                      </td>
                   </tr>
                   <tr>
                      <th scope="row">7</th>
                      <td>201111310005</td>
                      <td>powerloom Dvelopment And Export Promotion Council</td>
                      <td>RCMC Registraion Membership Certificate</td>
                      <th scope="row">13/nov/2021</th>
                      <td>
                         <span class="badge badge-primary">Approved</span>
                      </td>
                      <td>13/11/2021</td>
                      <td></td>
                      <td>
                         <i class="fa fa-download" aria-hidden="true"></i>
                         <i class="fa fa-eye" aria-hidden="true"></i>
                      </td>
                   </tr>
                   <tr>
                      <th scope="row">8</th>
                      <td>201111310005</td>
                      <td>powerloom Dvelopment And Export Promotion Council</td>
                      <td>RCMC Registraion Membership Certificate</td>
                      <th scope="row">13/nov/2021</th>
                      <td>
                         <span class="badge badge-primary">Approved</span>
                      </td>
                      <td>13/11/2021</td>
                      <td></td>
                      <td>
                         <i class="fa fa-download" aria-hidden="true"></i>
                         <i class="fa fa-eye" aria-hidden="true"></i>
                      </td>
                   </tr>
                   <tr>
                      <th scope="row">9</th>
                      <td>201111310005</td>
                      <td>powerloom Dvelopment And Export Promotion Council</td>
                      <td>RCMC Registraion Membership Certificate</td>
                      <th scope="row">13/nov/2021</th>
                      <td>
                         <span class="badge badge-primary">Approved</span>
                      </td>
                      <td>13/11/2021</td>
                      <td></td>
                      <td>
                         <i class="fa fa-download" aria-hidden="true"></i>
                         <i class="fa fa-eye" aria-hidden="true"></i>
                      </td>
                   </tr>
                   <tr>
                      <th scope="row">10</th>
                      <td>201111310005</td>
                      <td>powerloom Dvelopment And Export Promotion Council</td>
                      <td>RCMC Registraion Membership Certificate</td>
                      <th scope="row">13/nov/2021</th>
                      <td>
                         <span class="badge badge-primary">Approved</span>
                      </td>
                      <td>13/11/2021</td>
                      <td></td>
                      <td>
                         <i class="fa fa-download" aria-hidden="true"></i>
                         <i class="fa fa-eye" aria-hidden="true"></i>
                      </td>
                   </tr>
                </tbody>
             </table>
           </div>
       </div>
         
         
       </div>
    </div>
  </div>
  </div>