<div class="frm-cont1">

    <div class="row">
      <div class="col-md-12">
        <h3 class="makpay-txt"><b>Weightment Request</b></h3>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">     
                  <div class="form-group">
                    <label for="name" class="ref-txt">No of 40' Containers</label>
                    <input type="text" class="form-control" id="name" placeholder="">
                  </div>
                  </div>
                    <div class="col-md-3">     
                        <div class="form-group">
                          <label for="name" class="ref-txt">No of 20' Containers</label>
                          <input type="text" class="form-control" id="name" placeholder="">
                        </div>
                        </div>
                        <div class="col-md-3">     
                            <div class="form-group">
                              <label for="name" class="ref-txt">From Date</label>
                              <input type="date" class="form-control" id="name" placeholder="">
                            </div>
                            </div>
                            <div class="col-md-3">     
                                <div class="form-group">
                                  <label for="name" class="ref-txt">To Date</label>
                                  <input type="date" class="form-control" id="name" placeholder="">
                                </div>
                                </div>
                                
                        <div class="col-md-3">     
                            <div class="form-group mt-4">
                                <button type="button" class="btn btn-primary">Search</button>
                                <button type="button" class="btn btn-secondary">Clear</button>
                                <button type="button" class="btn btn-secondary" routerLink="/evgm/search-weightment-request">Back</button>
                            </div>
                           </div>
                  </div>
            </div>
            </div>


    </div>
