<div class="frm-cont1">
    <div class="frm-cont1">

        <div class="row">
          <div class="col-md-12">
            <h3 class="makpay-txt"><b>My Inquiries</b></h3>
          </div>
        </div>
    
      <div class="row ">
      
        <div class="col-md-3 ">
          <div class="form-group inquiries-1">
            <label for="name" class="ref-txt">Inquiry Rate Ref. No.</label>
            <input type="text" class="form-control rounded-0 border-info" id="name" placeholder="">
          </div>
        </div>
      
        <div class="col-md-3">
          <div class="form-group inquiries-1">
            <label for="name" class="ref-txt">From Date</label>
            <input type="date" class="form-control rounded-0 border-info" id="name" placeholder="">
          </div>
        </div>
      
        <div class="col-md-3">
          <div class="form-group inquiries-1">
            <label for="name" class="ref-txt"> To Date</label>
            <input type="date" class="form-control rounded-0 border-info" id="name" placeholder="">
          </div>
        </div>
      
        <div class="col-md-3">
          <div class="form-group inquiries">
            <label for="name" class="ref-txt">Service Provider Name</label><br>
            <select id="payments" name="payments" class="payments">
              <option value="select">--Select Service Provider--</option>
              <option value="cash on delivery">Cash On Delivery</option>
              <option value="cheque" selected>Cheque</option>
            </select>
          </div> 
        </div>
       
        <div class="recent-transactions-1 button-hover ">
          <div class="form-group">
            <input type="button" value="Search">
          </div>
         </div>     
         <div class="recent-transactions-1 submit-buttons-3 button-hover ">
          <div class="form-group">
            <input type="button" value="Clear">
          </div>
         </div>
        
    
      </div>
    
      <div class="row shadow top-frm4">
        <div class="recent-transactions-1 button-hover col-md-12 button-left">
          <div class="form-group">
            <input type="button" value="Add New">
          </div>
         </div> 
        <div class="col-md-3 show-entities">
          Show <select id="payments" name="payments" >
            <option value="ten">10</option>
            <option value="nine">9</option>
            <option value="eight">8</option>
            <option value="eight">7</option>
            <option value="eight">6</option>
            <option value="eight">5</option>
            <option value="eight">4</option>
          </select> entities
        </div>
        <div class="">
          <div class="form-group search-entities">
            <label for="name">Search:</label>
            <input type="text" class=" rounded-0 border-info custom" id="name" placeholder="">
          </div>      
        </div>
        <div class="col-md-12 table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="chr-sum1">Booking Req. Date</th >
                <th scope="col" class="chr-sum1">Inquiry Rate Ref. No.</th>
                <th scope="col" class="chr-sum1">Service Provider Name</th>
                <th scope="col" class="chr-sum1">Pickup Address</th>
                <th scope="col" class="chr-sum1">From Port</th>
                <th scope="col" class="chr-sum1">To Port</th>
                <th scope="col" class="chr-sum1">Des. loc.</th>
                <th scope="col" class="chr-sum1">Des. loc.</th>
                <th scope="col" class="chr-sum1">Des. loc.</th>
                <th scope="col" class="chr-sum1">Des. loc.</th>
              </tr>
            </thead>
            <tbody class="table-data-2">
              <tr class="table-data-1">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td><td></td>
              <td >No Data Available In Table</td>
              </tr>
            </tbody>
          </table>
        
        </div>
      </div>
      
      </div>
    </div>