<div>
    <div class="container">
        <div>Home</div>
        <h1 class="hd1">My Profile</h1>    
    </div>
    <div class="mt-5 mb-3 p-4 card">
        <div>
        <tabset #staticTabs class="tabs-ds">
         <tab heading="" id="first">
            <ng-template tabHeading>
              My Profile
            </ng-template>
            <div class="row">
              <div class="col-md-12">
                  <div class="row py-3 my-3">
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                      <label for="FirstName">First Name</label>
                      <input type="text" class="form-control" id="FirstName">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                      <label for="LastName">Last Name</label>
                      <input type="text" class="form-control" id="LastName">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                      <label for="EmailID">Email ID</label>
                      <input type="text" class="form-control" id="EmailID">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                      <label for="Role">Role</label>
                      <input type="text" class="form-control" id="Role">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                      <label for="BName">Branch Name</label>
                      <input type="text" class="form-control" id="BName">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                      <label for="BLocation">Branch Location</label>
                      <input type="text" class="form-control" id="BLocation">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                      <label for="UserID">User Id</label>
                      <input type="text" class="form-control" id="EmailID">
                    </div>
                    <div class="form-group col-sm-6 col-md-4 col-lg-3">
                      <label for="PCS1x">PCS1x User Id</label>
                      <input type="text" class="form-control" id="PCS1x">
                    </div>
                  </div>
                  <div class="text-center m-2 float-center-ds">
                    <button type="button" class="btn btn-square btn-primary active" (click)="secondTab(1)">Next</button>
                  </div>
              </div>
            </div>
         </tab>
          <tab heading="" id="second">           
            <ng-template tabHeading>
              My Locations
            </ng-template>
            <div class="row">
             <div class="col-md-12">
               <div class="row py-3 my-3">
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                  <label for="BLocation">Branch Location</label>
                  <input type="text" class="form-control" id="BLocation">
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                  <label for="LocationAccess">Location Access</label>
                  <select id="select1" name="select1" class="form-control">
                  <option value="0">Select Port</option>
                  <option value="1">Port 1</option>
                  <option value="2">Port 2</option>
                  <option value="3">Port 3</option>
                  </select>
                </div>
               </div>
               <div class="text-center m-2 float-center-ds">
                <button type="button" class="btn btn-square btn-secondary" (click)="secondTab(0)">Back</button>
                 <button type="button" class="btn btn-square btn-primary active" (click)="thirdTab(2)">Next</button>
               </div>
            </div>
            </div>
         </tab>
         <tab heading="" id="third">           
            <ng-template tabHeading>
              My Custodian
            </ng-template>
            <div class="row">
             <div class="col-md-12">
               <div class="row py-3 my-3">
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                  <label for="BLocation">Branch Location</label>
                  <input type="text" class="form-control" id="BLocation">
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                  <label for="CFSLocation">CFS Location</label>
                  <select id="select1" name="select1" class="form-control">
                  <option value="0">Select CFS Location</option>
                  <option value="1">CFS 1</option>
                  <option value="2">CFS 2</option>
                  <option value="3">CFS 3</option>
                  </select>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                    <label for="ICDLocation">ICD Location</label>
                    <select id="select1" name="select1" class="form-control">
                    <option value="0">Select ICD Location</option>
                    <option value="1">ICD 1</option>
                    <option value="2">ICD 2</option>
                    <option value="3">ICD 3</option>
                    </select>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-3">
                    <label for="TLocation">Terminal Location</label>
                    <select id="select1" name="select1" class="form-control">
                    <option value="0">Select Terminal</option>
                    <option value="1">Terminal 1</option>
                    <option value="2">Terminal 2</option>
                    <option value="3">Terminal 3</option>
                    </select>
                </div>
               </div>
               <div class="text-center m-2 float-center-ds">
                <button type="button" class="btn btn-square btn-secondary" (click)="secondTab(1)">Back</button>
                 <button type="button" class="btn btn-square btn-primary active" (click)="fourthTab(3)">Next</button>
               </div>
            </div>
            </div>
         </tab>
         <tab heading="" id="four">
            <ng-template tabHeading>
              My Access Rights
            </ng-template>
            <div class="row">
             <div class="col-md-12">
               <div class="row py-3 my-3">
                <div class="form-group col-lg-12">
                  <label for="BLocation">Branch Location</label>
                  <input type="text" class="form-control" id="BLocation">
                </div>
                <div class="mb-3 col-lg-12">
                  <h2 class="hd2">Role Access Overview</h2>
                  <div class="hd2underline"></div>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped text-center tHeading">
                    <thead >
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Add New</th>
                        <th scope="col">Edit</th>
                        <th scope="col">View</th>
                        <th scope="col">Email Notification</th>
                        <th scope="col">SMS Notification</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">Menu 1</td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name=""></td>
                        <td><input type="checkbox" name=""></td>
                        <td><input type="checkbox" name=""></td>
                        <td><input type="checkbox" name=""></td>
                      </tr>
                      <tr>
                        <td scope="row">Menu 2</td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name=""></td>
                        <td><input type="checkbox" name=""></td>
                        <td><input type="checkbox" name=""></td>                        
                      </tr>
                      <tr>
                        <td scope="row">Menu 3</td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name=""></td>
                        <td><input type="checkbox" name=""></td> 
                      </tr>
                      <tr>
                        <td scope="row">Menu 3</td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name=""></td> 
                      </tr>
                      <tr>
                        <td scope="row">Menu 3</td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name=""></td> 
                      </tr>
                      <tr>
                        <td scope="row">Menu 3</td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name="" checked></td>
                        <td><input type="checkbox" name="" checked></td> 
                      </tr>
                    </tbody>
                  </table>
                </div>
               </div>
               <div class="text-center m-2 float-center-ds">
                <button type="button" class="btn btn-square btn-secondary" (click)="secondTab(2)">Back</button>
                 <button type="button" class="btn btn-square btn-primary active" (click)="fifthTab(4)">Next</button>
               </div>
               <div style="color: red;">* Within the Organisations the user has access to according to their Organisations Restrictions</div>
            </div>
            </div>
         </tab>
         <tab heading="" id="five">
            <ng-template tabHeading>
              My Subscription
              
            </ng-template>
            <div class="row">
              <div class="col-md-12">
                <div class="row py-3 my-3">
                  <div class="col-lg-12">
                    <h2 class="hd2">My Subscription</h2>
                    <div class="hd2underline"></div>
                  </div>
                  <div class="col-lg-12 mt-3">
                      <p style="color: #7987a1;">Coming Soon</p>
                  </div>
               </div>
             </div>
          </div>
          <div class="text-center m-2 float-center-ds">
            <button type="button" class="btn btn-square btn-secondary" (click)="secondTab(3)">Back</button>
            <button type="button" class="btn btn-square btn-primary active" (click)="sixTab(5)">Next</button>
          </div>
         </tab>
         <tab heading="" id="six">           
            <ng-template tabHeading>
              My Request
            </ng-template>
            <div class="row">
              <div class="col-md-12">
                <div class="row py-3 my-3">
                  <div class="col-lg-12">
                    <h2 class="hd2">My Request</h2>
                    <div class="hd2underline"></div>
                  </div>
                  <div class="col-lg-12 mt-3">
                      <p style="color: #7987a1;">Coming Soon</p>
                  </div>
               </div>
             </div>
          </div>
          <div class="text-center m-2 float-center-ds">
            <button type="button" class="btn btn-square btn-secondary" (click)="secondTab(4)">Back</button>
          </div>
         </tab>
        </tabset>
        </div>
       </div>
</div>
